# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/caches/gradle_models.ser
.idea/libraries/
app/build/
app/src/jni/cpp/cmake-build-debug/
app/src/obj/
app/src/libs/
buildSrc/.gradle/
buildSrc/build/
gitpush
.idea/shelf/
local.properties