[submodule "app/src/main/jni/cpp/third_party/libmagic"]
	path = app/src/main/cpp/third_party/libmagic
	url = https://github.com/bczhc/ndk-libmagic.git
[submodule "app/src/main/rust/third_party/bczhc_rust"]
	path = app/src/main/rust/third_party/bczhc_rust
	url = https://github.com/bczhc/rust.git
[submodule "app/src/main/cpp/third_party/jni-lib"]
    path = app/src/main/cpp/third_party/jni-lib
	url = https://github.com/bczhc/jni
