.gradle/
app/build/
app/src/jni/cpp/cmake-build-debug/
**/cmake-build-debug/
app/src/obj/
app/src/libs/
buildSrc/.gradle/
buildSrc/build/
gitpush
.idea/
**/.idea/
local.properties
**/replay*.log
app/.cxx
**/CMakeFiles
build
app/src/main/jni/cpp/*
!app/src/main/jni/cpp/third-party/
!app/src/main/jni/cpp/src/
generate-native-headers
jni/.cxx