<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="pers.zhc.tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission
            android:name="android.permission.CHANGE_CONFIGURATION"
            tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.usb.host"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="false"
            android:extractNativeLibs="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:persistent="true"
            android:requestLegacyExternalStorage="true"
            android:supportsRtl="true"
            android:testOnly="false"
            android:usesCleartextTraffic="true"
            tools:targetApi="q">
        <receiver
                android:name=".floatingdrawing.NotificationClickReceiver"
                android:enabled="true"
                android:exported="true"
                tools:ignore="ExportedReceiver">
            <intent-filter android:priority="1000">
                <action android:name="pers.zhc.tools.START_FB"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name=".test.broadcast.BroadcastTest"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED"/>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>

        <!-- Declares the input input_method service -->
        <service
                android:name=".inputmethod.WubiIME"
                android:permission="android.permission.BIND_INPUT_METHOD"
                android:label="@string/wubi_input_method"
        >
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data
                    android:name="android.view.im"
                    android:resource="@xml/input_method"/>
        </service>
        <service android:name=".bus.BusArrivalReminderService"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="pers.zhc.tools.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <activity
                android:name="pers.zhc.tools.MainActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="pers.zhc.tools.filepicker.FilePicker"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>
        <activity
                android:name="pers.zhc.tools.floatingdrawing.FloatingDrawingBoardMainActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>
        <activity
                android:name="pers.zhc.tools.pi.Pi"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>
        <activity
                android:name=".test.toast.ToastTest"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>
        <activity
                android:name="pers.zhc.tools.clipboard.Clip"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>
        </activity>
        <activity android:name="pers.zhc.tools.BaseActivity"/>
        <activity android:name=".diary.DiaryBaseActivity"/>
        <activity
                android:name="pers.zhc.tools.document.Document"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:taskAffinity="pers.zhc.tools.document"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name="pers.zhc.tools.document.NoteTakingActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:launchMode="singleTask"
                android:taskAffinity="pers.zhc.tools.document"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.S"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.viewtest.MainActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.theme.SetTheme"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.MathExpressionEvaluationTest"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.SensorTest"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.InputEvent"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.SurfaceViewTest"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".floatingdrawing.RequestCaptureScreenActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/AppThemeTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.service.ServiceActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".crashhandler.CrashReportActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".crashhandler.CrashTest"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.malloctest.MAllocTest"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".diary.DiaryMainActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/diary"
                android:theme="@style/Theme.Application.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".diary.DiaryTakingActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/diary"
                android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".diary.DiaryAttachmentActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/diary_attachment_library_activity_label_name"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".diary.DiaryAttachmentAddingActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/diary_attachment_library_activity_label_name"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".diary.FileLibraryActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/file_library"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".diary.FileLibraryAddingActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/file_library"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".diary.DiaryAttachmentSettingsActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/settings"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".diary.DiaryContentPreviewActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/preview"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".diary.FileLibraryFileDetailActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/file_library"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".diary.FileBrowserActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/diary_browser_label"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".diary.DiaryAttachmentPreviewActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/diary_attachment_preview_activity_label"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".diary.DiaryFileLibraryEditTextActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/diary_file_library_text_edit_activity_label"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.pressuretest.PressureTest"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.Demo"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.DocumentProviderTest"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".characterscounter.CounterTest"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.typetest.TypeTest"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.TTS"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.RegExpTest"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.wubiinput.WubiInput"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/wubi_input_method"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".inputmethod.WubiInputMethodActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/wubi_input_method"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".inputmethod.WubiInputMethodTTSSettingActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/wubi_input_method"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".inputmethod.WubiCodeSettingActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/wubi_input_method"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.UsbSerialTest"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".stcflash.FlashMainActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data
                    android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                    android:resource="@xml/device_filter"/>
        </activity>
        <activity
                android:name=".test.DrawingBoardTest"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".inputmethod.WubiDatabaseEditActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/wubi_input_method"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".bus.BusQueryMainActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/bus_query_label"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".bus.BusLineDetailActivity"
                android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden|layoutDirection|locale"
                android:label="@string/bus_query_label"
                android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
