name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: clone submosule
        run: |
          git submodule update --init --recursive
          git submodule update --remote --recursive
      - name: setup NDK
        run: |
          echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager
          ${ANDROID_HOME}/ndk-bundle/ndk-build --version
      - name: build app
        run: ./gradlew build;./gradlew assembleDebug
      - name: upload apk
        uses: actions/upload-artifact@v2
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/app-debug.apk
